/* Custom CSS for responsive design */
.background_image {
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .top-part {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    height: 50vh;
    padding: 20px;
  }
  
  .select-styles {
    width: 100%;
  }
  
  @media (min-width: 550px) {
    .background_image {
      background-size: cover;
    }
    .select-styles {
      width: auto;
    }
  }
  
  @media (min-width: 800px) {
    .background_image {
      background-size: cover;
    }
  }
  
  @media (min-width: 1080px) {
    .background_image {
      background-size: cover;
    }
  }
  